<a href="https://colab.research.google.com/github/Souheil-Yazji/DataSci/blob/main/Population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Read CSV File

In [ ]:
df = pd.read_csv('/content/(POPULATION DS)FAOSTAT_data_3-20-2021_population.csv')

Slice Data with Year >= 2014 & take only the total population

In [ ]:
df = df[df.Year >= 2014]
df = df.loc[df['Element'] == 'Total Population - Both sexes']
df.head()

    Domain Code             Domain  ...                Flag Description Note
320          OA  Annual population  ...  International reliable sources  NaN
325          OA  Annual population  ...  International reliable sources  NaN
330          OA  Annual population  ...  International reliable sources  NaN
335          OA  Annual population  ...  International reliable sources  NaN
340          OA  Annual population  ...  International reliable sources  NaN

[5 rows x 15 columns]

Take only the needed columns and rename them for joins with other datasets

In [ ]:
cleaned_data  = df.drop(df.columns.difference(['Area','Year','Value']),axis = 1)
cleaned_data .rename(columns={"Area": "Country Name", "Value": "Population"})
cleaned_data .head()

            Area  Year      Value
320  Afghanistan  2014  33370.794
325  Afghanistan  2015  34413.603
330  Afghanistan  2016  35383.032
335  Afghanistan  2017  36296.113
340  Afghanistan  2018  37171.921

Convert to CSV

In [ ]:
cleaned_data.to_csv("cleaned_Pop_data_2014_2018.csv")